{% load static %}
{% include "menu.html" %}

<head>
    <link rel="stylesheet" href="{% static 'estilos/style.css' %}">
</head>
<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="{% static 'imagenes/img.png' %}" class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src={% static "imagenes/img.png "%} class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src={% static "imagenes/img.png "%} class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src={% static "imagenes/img.png "%} class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
</div>